/* Styles généraux */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
}

/* Navbar */
.navbar {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-dark .navbar-nav .nav-link {
    color: white !important;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #f4f4f9 !important;
}

/* Section Accueil */
#accueil {
    text-align: center;
    padding: 80px 20px;
    background: #007bff;
    color: white;
    border-radius: 10px;
}

.profile-pic {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 2rem;
    border: 5px solid #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.profile-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  
/* Sections */
section {
    padding: 60px 20px;
    background: white;
    border-radius: 10px;
    margin-top: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Compétences */
#competences .row div {
    padding: 20px;
    background: #007bff;
    color: white;
    margin: 10px;
    border-radius: 10px;
    transition: transform 0.3s;
}

#competences .row div:hover {
    transform: scale(1.05);
}

/* Boutons */
button {
    background: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #0056b3;
}

/* Footer */
footer {
    background-color: #343a40;
    color: white;
    padding: 20px 0;
}

footer a {
    color: #ffffff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.cv-preview {
    width: 80%; /* Taille plus petite */
    max-width: 600px; /* Taille maximale */
    display: block;
    margin: 0 auto;
    border: 2px solid #007bff;
    border-radius: 10px;
}

#cv {
    background: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
}
